


h1 {
    color: red ;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}
h1 + p {
    font-size: 200%;
    color:green; 
}
p + a {
    color:red;
}
li{
  list-style-type: square;
}
li.special{
    font-weight: bold;
    color: orange;
}
li em{
    color : purple;
}
a:hover{
    text-decoration: none;
}
a:visited{
color: green;
}
a:link{
    color: pink;
}
body h1+p .special{
    color: yellow;
    background-color: black;
    padding: 5px;
}
